potential fstr alignment issue in HttpClient

This is one that feels a bit "you're holding it wrong" but I think the analysis is pretty clear:
I'm getting the following crash when using HttpClient on an Esp32S3

```
Color Legend:
  0x40xxxxxx - Code (IRAM/IROM)      File:Line - Source Location
  0x30xxxxxx - Data (DRAM/DROM)      Symbol    - Function/Variable
  0x50xxxxxx - External SPI RAM      Canary    - Stack Poison/Canary
assert failed: void* memcpy_aligned(void*, const void*, unsigned int) FakePgmSpace.cpp:21 (IS_ALIGNED(dst) && IS_ALIGNED(src))



Backtrace Decode
  #00 PC=0x4037588e SP=0x3fcb5440  (panic_abort at /opt/esp-idf-5.2/components/esp_system/panic.c:466)
  #01 PC=0x4037d66d SP=0x3fcb5460  (esp_system_abort at /opt/esp-idf-5.2/components/esp_system/port/esp_system_chip.c:93)
  #02 PC=0x403844cd SP=0x3fcb5480  (__assert_func at /opt/esp-idf-5.2/components/newlib/assert.c:81)
  #03 PC=0x4203c1af SP=0x3fcb55a0  (memcpy_aligned at /opt/sming/Sming/Wiring/FakePgmSpace.cpp:21)
  #04 PC=0x4203b3d1 SP=0x3fcb55c0  (String::copy(__FlashStringHelper const*, unsigned int) at /opt/sming/Sming/Wiring/WString.cpp:260)
  #05 PC=0x4203b41a SP=0x3fcb55e0  (String::setString(__FlashStringHelper const*) at /opt/sming/Sming/Wiring/WString.cpp:117)
  #06 PC=0x42050e8b SP=0x3fcb5600  (HttpClientConnection::sendRequestHeaders(HttpRequest*) at /opt/sming/Sming/Core/Data/Packet.h:70)
  #07 PC=0x420512aa SP=0x3fcb5690  (HttpClientConnection::onReadyToSendData(TcpConnectionEvent) at /opt/sming/Sming/Core/Data/Packet.h:70)
  #08 PC=0x420520ce SP=0x3fcb5700  (TcpConnection::trySend(TcpConnectionEvent) at /opt/sming/Sming/Core/Data/Packet.h:70)
  #09 PC=0x42052145 SP=0x3fcb5720  (TcpConnection::onConnected(signed char) at /opt/sming/Sming/Core/Data/Packet.h:70)
  #10 PC=0x42052cb9 SP=0x3fcb5740  (TcpClient::onConnected(signed char) at /opt/sming/Sming/Core/Data/Packet.h:70)
  #11 PC=0x4205058f SP=0x3fcb5760  (HttpClientConnection::onConnected(signed char) at /opt/sming/Sming/Core/Data/Packet.h:70)
  #12 PC=0x4205261a SP=0x3fcb5780  (TcpConnection::internalOnConnected(signed char) at /opt/sming/Sming/Core/Data/Packet.h:70)
  #13 PC=0x42052692 SP=0x3fcb57d0  (TcpConnection::internalConnect(IpAddress, unsigned short)::{lambda(void*, tcp_pcb*, signed char)#1}::_FUN(void*, tcp_pcb*, signed char) at /opt/sming/Sming/Core/Data/Packet.h:70)
  #14 PC=0x420302ee SP=0x3fcb57f0  (tcp_process at /opt/esp-idf-5.2/components/lwip/lwip/src/core/tcp_in.c:916 | tcp_input at /opt/esp-idf-5.2/components/lwip/lwip/src/core/tcp_in.c:449)
  #15 PC=0x42034cd2 SP=0x3fcb5830  (ip4_input at /opt/esp-idf-5.2/components/lwip/lwip/src/core/ipv4/ip4.c:752)
  #16 PC=0x42038a12 SP=0x3fcb5860  (ethernet_input at /opt/esp-idf-5.2/components/lwip/lwip/src/netif/ethernet.c:186)
  #17 PC=0x420cc10a SP=0x3fcb5880  (tcpip_thread_handle_msg at /opt/esp-idf-5.2/components/lwip/lwip/src/api/tcpip.c:174 | tcpip_thread at /opt/esp-idf-5.2/components/lwip/lwip/src/api/tcpip.c:148)
  #18 PC=0x4037e371 SP=0x3fcb58b0  (vPortTaskWrapper at /opt/esp-idf-5.2/components/freertos/FreeRTOS-Kernel/portable/xtensa/port.c:134)
```
digging into the code path, the offending part seems to be re-creating the http method string from the method enum
```
{
    auto fstr = reinterpret_cast<flash_string_t>(http_method_str(http_method(method)));
    return String(fstr);
}
```
Which is picked from a flash string array
```
const char *
http_method_str (enum http_method m)
{
  return ELEM_AT(method_strings, m, "<unknown>");
}
```
```
# define ELEM_AT(a, i, v) ((unsigned int) (i) < ARRAY_SIZE(a) ? (a)[(i)] : (v))
```
```
#define XX(num, name, string) #string,
  HTTP_METHOD_MAP(XX)
#undef XX
```
```
#define HTTP_METHOD_MAP(XX)         \
  XX(0,  DELETE,      DELETE)       \
  XX(1,  GET,         GET)          \
  XX(2,  HEAD,        HEAD)         \
  XX(3,  POST,        POST)         \
  XX(4,  PUT,         PUT)          \
  /* pathological */                \
  XX(5,  CONNECT,     CONNECT)      \
  XX(6,  OPTIONS,     OPTIONS)      \
  XX(7,  TRACE,       TRACE)        \
  /* WebDAV */                      \
  XX(8,  COPY,        COPY)         \
  XX(9,  LOCK,        LOCK)         \
  XX(10, MKCOL,       MKCOL)        \
  XX(11, MOVE,        MOVE)         \
  XX(12, PROPFIND,    PROPFIND)     \
  XX(13, PROPPATCH,   PROPPATCH)    \
  XX(14, SEARCH,      SEARCH)       \
  XX(15, UNLOCK,      UNLOCK)       \
  XX(16, BIND,        BIND)         \
  XX(17, REBIND,      REBIND)       \
  XX(18, UNBIND,      UNBIND)       \
  XX(19, ACL,         ACL)          \
  /* subversion */                  \
  XX(20, REPORT,      REPORT)       \
  XX(21, MKACTIVITY,  MKACTIVITY)   \
  XX(22, CHECKOUT,    CHECKOUT)     \
  XX(23, MERGE,       MERGE)        \
  /* upnp */                        \
  XX(24, MSEARCH,     M-SEARCH)     \
  XX(25, NOTIFY,      NOTIFY)       \
  XX(26, SUBSCRIBE,   SUBSCRIBE)    \
  XX(27, UNSUBSCRIBE, UNSUBSCRIBE)  \
  /* RFC-5789 */                    \
  XX(28, PATCH,       PATCH)        \
  XX(29, PURGE,       PURGE)        \
  /* CalDAV */                      \
  XX(30, MKCALENDAR,  MKCALENDAR)   \
  /* RFC-2068, section 19.6.1.2 */  \
  XX(31, LINK,        LINK)         \
  XX(32, UNLINK,      UNLINK)       \
```
and looking at the array, most of those strings are not 32Bit aligned
```
172232 [HTTP_ALIGN]  0 DELETE       ptr=3c0dc02a mod4=2 text='DELETE'
172420 [HTTP_ALIGN]  1 GET          ptr=3c0d3cb3 mod4=3 text='GET'
172764 [HTTP_ALIGN]  2 HEAD         ptr=3c0d3cb7 mod4=3 text='HEAD'
173105 [HTTP_ALIGN]  3 POST         ptr=3c0d58ef mod4=3 text='POST'
173454 [HTTP_ALIGN]  4 PUT          ptr=3c0d3cbc mod4=0 text='PUT'
173790 [HTTP_ALIGN]  5 CONNECT      ptr=3c0d58da mod4=2 text='CONNECT'
174154 [HTTP_ALIGN]  6 OPTIONS      ptr=3c0d3cc0 mod4=0 text='OPTIONS'
174510 [HTTP_ALIGN]  7 TRACE        ptr=3c0d3cc8 mod4=0 text='TRACE'
174864 [HTTP_ALIGN]  8 COPY         ptr=3c0d3cce mod4=2 text='COPY'
175205 [HTTP_ALIGN]  9 LOCK         ptr=3c0d58c4 mod4=0 text='LOCK'
175554 [HTTP_ALIGN] 10 MKCOL        ptr=3c0d3cd3 mod4=3 text='MKCOL'
175897 [HTTP_ALIGN] 11 MOVE         ptr=3c0d3cd9 mod4=1 text='MOVE'
176249 [HTTP_ALIGN] 12 PROPFIND     ptr=3c0d3cde mod4=2 text='PROPFIND'
176610 [HTTP_ALIGN] 13 PROPPATCH    ptr=3c0d3ce7 mod4=3 text='PROPPATCH'
176988 [HTTP_ALIGN] 14 SEARCH       ptr=3c0dcfa6 mod4=2 text='SEARCH'
177335 [HTTP_ALIGN] 15 UNLOCK       ptr=3c0d3cf1 mod4=1 text='UNLOCK'
177691 [HTTP_ALIGN] 16 BIND         ptr=3c0d3cfa mod4=2 text='BIND'
178035 [HTTP_ALIGN] 17 REBIND       ptr=3c0d3cf8 mod4=0 text='REBIND'
178394 [HTTP_ALIGN] 18 UNBIND       ptr=3c0d3cff mod4=3 text='UNBIND'
178745 [HTTP_ALIGN] 19 ACL          ptr=3c0d3d06 mod4=2 text='ACL'
179089 [HTTP_ALIGN] 20 REPORT       ptr=3c0d3d0a mod4=2 text='REPORT'
179440 [HTTP_ALIGN] 21 MKACTIVITY   ptr=3c0d3d11 mod4=1 text='MKACTIVITY'
179819 [HTTP_ALIGN] 22 CHECKOUT     ptr=3c0d3d1c mod4=0 text='CHECKOUT'
180180 [HTTP_ALIGN] 23 MERGE        ptr=3c0d3d25 mod4=1 text='MERGE'
180534 [HTTP_ALIGN] 24 MSEARCH      ptr=3c0dcfa4 mod4=0 text='M-SEARCH'
180895 [HTTP_ALIGN] 25 NOTIFY       ptr=3c0d3d33 mod4=3 text='NOTIFY'
181255 [HTTP_ALIGN] 26 SUBSCRIBE    ptr=3c0d3d3c mod4=0 text='SUBSCRIBE'
181616 [HTTP_ALIGN] 27 UNSUBSCRIBE  ptr=3c0d3d3a mod4=2 text='UNSUBSCRIBE'
182004 [HTTP_ALIGN] 28 PATCH        ptr=3c0d3ceb mod4=3 text='PATCH'
182350 [HTTP_ALIGN] 29 PURGE        ptr=3c0d3d46 mod4=2 text='PURGE'
182708 [HTTP_ALIGN] 30 MKCALENDAR   ptr=3c0d3d4c mod4=0 text='MKCALENDAR'
183075 [HTTP_ALIGN] 31 LINK         ptr=3c0d3d59 mod4=1 text='LINK'
183422 [HTTP_ALIGN] 32 UNLINK       ptr=3c0d3d57 mod4=3 text='UNLINK'
183775 [HTTP_ALIGN] 33 SOURCE       ptr=3c0d3d5e mod4=2 text='SOURCE'
184138 [HTTP_ALIGN] 46 QUERY        ptr=3c0d3d65 mod4=1 text='QUERY'
```
```
void* memcpy_aligned(void* dst, const void* src, unsigned len)
{
	assert(IS_ALIGNED(dst) && IS_ALIGNED(src));
#ifndef ARCH_HOST
	// Address sanitisers get tripped if we do this in Host builds
	len = ALIGNUP4(len);
#endif
	memcpy(dst, src, len);
	return dst;
}
```
The Flash String helper uses memcopy_aligned - and I believe that's the assert that fails.

I believe the issue is here
```auto fstr = reinterpret_cast<flash_string_t>(http_method_str(http_method(method)));```
because this returns a non-aligned pointer.


what am I missing?

Thank you for the detailed analysis. I think this is a subtle bug introduced by #2989. If you `make list-config| grep LEGACY` I suspect you'll get the result `USE_LEGACY_HTTP_PARSER = 0` which means your code is using the (now default) llhttp stack. That uses a different implementation of `http_method_str` which can be found in `Sming/Components/Network/src/Network/Http/HttpCommon.h`. The `llhttp_method_name` function is in `Sming/Components/llhttp/src/api.c` and declares the strings using the `PSTR()` macro. That is defined in `Sming/Arch/Esp32/Components/libc/src/include/sys/pgmspace.h` as `#define PSTR(str) (str)`. This is why the strings are not word-aligned.

The `llhttp_method_name` function requires fixing so it returns aligned strings. It was patched by adding the `PSTR()` macro which is clearly insufficient.

In the mean time, you can switch to the legacy http parser by building with `USE_LEGACY_HTTP_PARSER=1` and the issue should go away.


With `USE_LEGACY_HTTP_PARSER=0` can you try this patch:

```
diff --git a/Sming/Components/llhttp/src/api.c b/Sming/Components/llhttp/src/api.c
index f7868e6dd..2c4d1daf1 100644
--- a/Sming/Components/llhttp/src/api.c
+++ b/Sming/Components/llhttp/src/api.c
@@ -206,9 +206,12 @@ const char* llhttp_get_error_pos(const llhttp_t* parser) {
 
 
 
+#define HTTP_METHOD_GEN(NUM, NAME, STRING) static const char method_string_##NAME[] PROGMEM_PSTR = #STRING;
+    HTTP_ALL_METHOD_MAP(HTTP_METHOD_GEN)
+#undef HTTP_METHOD_GEN
 
 const char* llhttp_method_name(llhttp_method_t method) {
-#define HTTP_METHOD_GEN(NUM, NAME, STRING) case HTTP_METHOD_##NAME: return PSTR(#STRING);
+#define HTTP_METHOD_GEN(NUM, NAME, STRING) case HTTP_METHOD_##NAME: return method_string_##NAME;
   switch (method) {
     HTTP_ALL_METHOD_MAP(HTTP_METHOD_GEN)
     default: abort();
```

passes the initial smoke test, I guess this should do it.

So having thought a bit more, the real issue here is that the `PSTR` macro should word-align the string data. So the llhttp code can remain as it is, we'll fix PSTR instead.

So the patch for PSTR here is a copy & paste from the esp8266 implementation:

```
diff --git a/Sming/Arch/Esp32/Components/libc/src/include/sys/pgmspace.h b/Sming/Arch/Esp32/Components/libc/src/include/sys/pgmspace.h
index 3a103d4a..f51d3057 100644
--- a/Sming/Arch/Esp32/Components/libc/src/include/sys/pgmspace.h
+++ b/Sming/Arch/Esp32/Components/libc/src/include/sys/pgmspace.h
@@ -25,7 +25,12 @@ extern "C" {
 
 #define PROGMEM STORE_ATTR ICACHE_RODATA_ATTR
 #define PROGMEM_PSTR PROGMEM
-#define PSTR(str) (str)
+
+#define PSTR(str)                                                                                                      \
+	(__extension__({                                                                                                   \
+		static const char __pstr__[] PROGMEM_PSTR = str;                                                               \
+		&__pstr__[0];                                                                                                  \
+	}))
 
 #define PGM_P const char*
 #define PGM_VOID_P const void*
```

Okay, so this has long been here but only showed because the new parser uses this in-progmem table?
Also, I don't understand how the new definition enforces word alignment, but that's on me. 
Will test when I get home 

> how the new definition enforces word alignment,

The `PROGMEM_PSTR` macro includes `STORE_ATTR` which does the alignment (for all architectures) via `__attribute__((aligned(4)))` directive

https://github.com/esp8266/Arduino/blob/f946290ea993db029a90010927cdc1d645c91940/doc/PROGMEM.rst#declare-a-flash-string-within-code-block

Closed via #3019